body{
  padding: 200px 50px 50px 50px;
}

@-webkit-keyframes fadeInLeft {
	0% {
    opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-ms-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-ms-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
    opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
    opacity: 1;
		transform: translateX(0);
	}
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuDyn .sub{
  position: absolute;
  top: 0;
  width: 140px;
  display: none;
  -webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-ms-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
}

.menuDyn li a{
  padding: 10px 30px 10px 20px;
  display: inline-block;
  text-decoration: none;
  background: #3a85c9;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  text-transform: capitalize;
}

.menuDyn li:hover > a,
.menuDyn li.active > a{
  background: #2d6ba0;
}

.menuDyn li{
  position: relative;
}

.menuDyn > li{
  max-width: 170px;
}

.menuDyn li.hasSub > a:after{
  content: '';
  position: absolute;
  right: 10px;
  top: 13px;
  display: block;
  width: 7px;
  height: 11px;
  background-image: url('right-ico.svg');
  background-size: cover;
}

.menuDyn > li .sub{
  right: -140px;
}

.menuDyn li.active > .sub{
  display: block;
}